<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ name }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="{{ name }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="styles/main.css">
  {% block scripts %}{% endblock %}
</head>
<body>
  <header>
    <h1>gif.js</h1>
    <p>{{ description }}</p>
    <p class="github"><a href="https://github.com/jnordberg/gif.js">Download &amp; Docs on GitHub</a></p>
  </header>
  <div class="wrap">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <p>Free shit by <a href="http://johan-nordberg.com/">Johan Nordberg</a> – May 2013</p>
  </footer>
</body>
</html>
